---
title : 'Contactez-moi  - Contact | BelkaRikature'
description: "Leave me a message or any feedback, or ask me anything you want."
layout: 'layouts/secondary.njk'
---
<main id="main" class="main">
  <section aria-labelledby="contact" class="contact">
    <div class="main-container">
      <header class="section-header" data-animation="fade-in">
        <span>
          <a class="breadcrumb" href="/">Home</a> ›
          <a class="breadcrumb" href="/contact">Contact</a>
        </span>
        <h1 id="contact" class="header-title">
          <a class="header-link__access" href="#contact">
            <span aria-hidden="true">#</span>
            <span class="sr-only">Link to heading "contact"</span>
          </a>
          Contactez-moi 
        </h1>
      </header>
      <div data-animation="fade-in" data-delay="2">
        <p>{{locales.contact.p1}}</p>
        <p>{{locales.contact.p2}}</p>
      </div>
    </div>
  </section>
</main>